In [63]:
#all the imports
#not all might be needed -- e.g. I am using Google colab and importing files from my Google drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

###Question 1 (1 point) ###
 Load the English and Italian data into 2 separate data frames.

In [64]:
#load the data
#your code goes here.
#%cd /content/drive/My Drive/COURSES/2020/DATA/
import pandas as pd
en_data = pd.read_csv('https://raw.githubusercontent.com/smumudin/NLP---Mini-Language-Models/master/Datasets/CONcreTEXT_trial_EN.tsv',sep='\t')
it_data = pd.read_csv('https://raw.githubusercontent.com/smumudin/NLP---Mini-Language-Models/master/Datasets/CONcreTEXT_trial_IT.tsv',sep='\t')

In [65]:

#check to see what the data look like
en_data.head(100)

         TARGET POS  ...                                               TEXT  MEAN
0   achievement   N  ...  Bring up academic achievements , awards , and ...  3.06
1   achievement   N  ...  Please list people you have helped , your pers...  3.03
2      activate   V  ...     Add activated carbon straight to your vodka .   3.83
3      activate   V  ...  Place sensors around your garden , and when a ...  5.51
4     adventure   N  ...  Look for a partner that shares your level of a...  2.03
..          ...  ..  ...                                                ...   ...
95        water   N  ...  Rinse your face with warm water and pat it dry .   6.91
96          win   V  ...  Staying mentally strong means winning half the...  2.34
97          win   V  ...  The person who has the highest score wins the ...  4.60
98        woman   N  ...  For the most part , men and women wear the sam...  6.29
99        woman   N  ...  Look at the woman whom you are listening to fo...  6.57

[100 rows x 5 columns]

In [66]:
it_data.head()

        TARGET POS  ...                                               TEXT  MEAN
0  affascinare   V  ...  Guardati i piedi o fai finta di essere affasci...  2.39
1  affascinare   V  ...  Sei affascinato dal funzionamento della mente ...  2.03
2        amore   N  ...  Pensa ai tuoi sentimenti di amore , passione e...  2.71
3        amore   N  ...  Quasi tutti sono in grado di ricevere amore e ...  2.16
4         aria   N  ...  Accendi il condizionatore sull’ aria fredda ma...  5.68

[5 rows x 5 columns]

###Question 2 (2 points): ###
Next we will create three columns in each data frame. 

One column will be called 'CONCRETE' and it will be a boolean. If the mean value of the word is >=4 then this value is 0, otherwise 1. 

Basically, we are assuming that all words with a MEAN score greater than or equal to 4 are concrete words, and the rest are abstract.


Next column will be another boolean 'IS_NOUN'. If the column POS == N (noun), then the 'IS_NOUN' column will be 0 otherwise it will be 1. 

The third column is 'IS_EARLY'. We are setting another boolean variable column, where, if the word appears early in the sentence, then this value is 0 otherwise 1. We will assume that any word which appears at INDEX < 5 appears early in this sentence. 

Your dataframe after you write this code should look like the example shown below. 

You may find it useful to use numpy and the 'where' condition for this question. 

Repeat the same process for the Italian data dataframe.

In [67]:
# Create 3 new columns for english dataset based on the above conditions
import numpy as np
en_data['CONCRETE'] = np.where(en_data['MEAN']>=4,0,1)
en_data['IS_NOUN'] = np.where(en_data['POS']=='N',0,1)
en_data['IS_EARLY'] = np.where(en_data['INDEX']<5,0,1)

en_data.head()

        TARGET POS  INDEX  ... CONCRETE  IS_NOUN  IS_EARLY
0  achievement   N      3  ...        1        0         0
1  achievement   N      9  ...        1        0         1
2     activate   V      1  ...        1        1         0
3     activate   V     15  ...        0        1         1
4    adventure   N      9  ...        1        0         1

[5 rows x 8 columns]

In [68]:
#create three new columns using conditions on the main data frame

#your code goes here
it_data['CONCRETE'] = np.where(it_data['MEAN']>=4,0,1)
it_data['IS_NOUN'] = np.where(it_data['POS']=='N',0,1)
it_data['IS_EARLY'] = np.where(it_data['INDEX']<5,0,1)

#below is what the dataframe should look like after you have inserted the new columns and set the appropriate values
it_data.head()

        TARGET POS  INDEX  ... CONCRETE  IS_NOUN  IS_EARLY
0  affascinare   V      8  ...        1        1         1
1  affascinare   V      1  ...        1        1         0
2        amore   N      5  ...        1        0         1
3        amore   N      7  ...        1        0         1
4         aria   N      4  ...        0        0         0

[5 rows x 8 columns]


###Question 3(3 points):###

Using sklearn implementation of the Perceptron algorithm. 

First, create X and y. 

X are your explanatory variables -- in this case, we will use the newly created 'IS_NOUN' and 'IS_EARLY' columns are our X.

y is the target variable -- the 'CONCRETE' column you created above is what we need to predict.

Create a train, test split using sklearn and fit the perceptron algorithm.

In [69]:
#your code goes here.
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# creation of X and Y for English dataset 
X = en_data[['IS_NOUN','IS_EARLY']]
y = en_data['CONCRETE']

# create a train and test data for English dataset
X_train_eng, X_test_eng, y_train_eng,y_test_eng = train_test_split(X,y,
                                        test_size = 0.2,random_state=42)

In [70]:
# creation of X and Y for Italian dataset 
X = it_data[['IS_NOUN','IS_EARLY']]
y = it_data['CONCRETE']

# create a train and test data for English dataset
X_train_it, X_test_it, y_train_it,y_test_it = train_test_split(X,y,
                                        test_size = 0.2,random_state=42)

###Question 4(1 points):###

Predict the values on the test set and print the result accuracy value of the model.

In [71]:
# Apply the trained perceptron on the X data to make predicts for the y test data
# View the accuracy of the model, which is: 1 - (observations predicted wrong / total observations)
#sample output shown below

#your code goes here
from sklearn.linear_model import Perceptron
perceptron_eng_model = Perceptron(eta0=0.02,max_iter=20)
perceptron_eng_model.fit(X_train_eng,y_train_eng)

#print(perceptron_eng_model.get_params())

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=0.02,
           fit_intercept=True, max_iter=20, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [72]:
predictions_english = perceptron_eng_model.predict(X_test_eng)
accuracy_english = accuracy_score(y_test_eng,predictions_english)
print('Accuracy : {:.2f}'.format(accuracy_english))

Accuracy : 0.60


###Question 5 (3 points):###

Repeat the Questions 3 and 4 for the Italian data.

In [73]:
#Repeat the process for the italian dataset
#your code goes here.
#sample output shown below

perceptron_it_model = Perceptron(eta0=0.01,max_iter=20)
perceptron_it_model.fit(X_train_it,y_train_it)

#print(perceptron_it_model.get_params())

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=0.01,
           fit_intercept=True, max_iter=20, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [74]:
# Apply the trained perceptron on the X data to make predicts for the y test data
# View the accuracy of the model, which is: 1 - (observations predicted wrong / total observations)
#sample output shown below
#your code goes here

predictions_italian = perceptron_it_model.predict(X_test_it)
accuracy_italian = accuracy_score(y_test_it,predictions_italian)
print('Accuracy : {:.2f}'.format(accuracy_italian))

Accuracy : 0.60